<div class="container">
    <div class="jumbotron">
        <h1>Order Here! </h1>
        <p>Juicy Burger Orders.</p>
        <br>
        <h2>Choose your Juicy Burger</h2>
        
        {{!-- Panel with order form --}}
        <panel>
            <form class="cyo-form">
                <div class="form-group">
                    <label for="cyoBurger">Order A Juicy Burger</label>

                    {{!-- <input type="text" id="cyoburger" name="burger"> --}}
                    <select data-placeholder="" id="cyoburger" name="burger">
                        <option value="Nothing Selected" selected>Please Select a Juicy Burger</option>
                        <option value="Hamburger">Hamburger</option>
                        <option value="CheeseBurger">CheeseBurger</option>
                        <option value="California Burger">California Burger</option>
                        <option value="Aloha Burger">Aloha Burger</option>
                        <option value="Impossible Burger">Impossible Burger</option>
                        <option value="Salmon Burger">Salmon Burger</option>
                    </select>

                    <button type="submit" class="btn btn-dark" id="addburger">
                        <span class="burgertime"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>













</div>